@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nothing+You+Could+Do&family=Satisfy&display=swap");

.navbar-nav .btn {
  background: #ffffff;
  color: orange;
  border-radius: 20px;
}
.navbar-nav .btn:hover {
  background: orange;
  color: #ffffff;
}

.navbar .navbar-nav .nav-item a {
  padding: 15px;
}

.navbar .navbar-nav .nav-but {
  padding: 10px;
  margin-left: 20px;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 150px;
  z-index: 2;
  top: 220px;
}

.carousel-caption h5 {
  margin-top: 25px;
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 1);
  font-family: "Arvo";
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 25px;
  line-height: 1.9;
  font-family: "Satisfy";
}

.packages-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.packages-item img {
  transition: 0.5s;
}

.packages-item:hover img {
  transform: scale(1.1);
}

.btn {
  font-family: sans-serif;
  font-weight: 600;
  transition: #ffffff;
}

.btn.btn-warning,
.btn.btn-secondary {
  color: #ffffff;
}

.btn.btn-warning:hover,
.btn.btn-secondary:hover {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}
.footer .btn.btn-social:hover {
  color: blue;
}
.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}
.footer .btn.btn-link::before {
  position: relative;
  content: \f105;
  font-family: "font awesome 5 free";
  margin-right: 10px;
  font-weight: 900;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption h5 {
    font-size: 25px;
  }
  .carousel-caption a {
    padding: 10px 15px;
  }
  .carousel-caption p {
    width: 100%;
  }
}
